@using Blogy.Business.DTOS.UserDtos
@model List<AssignRoleDto>
@{
    ViewData["Title"] = "AssignRole";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h3>Rol Tanımlama</h3>
    <h4>@ViewBag.FullName</h4>
    <form method="post">
        @for (int i = 0; i < Model.Count; i++)
        {
            <div class="form-check">
                <input type="hidden" asp-for="@Model[i].RoleId" />
                <input type="hidden" asp-for="@Model[i].UserId" />
                <input type="hidden" asp-for="@Model[i].RoleName" />
                <input type="checkbox" asp-for="@Model[i].RoleExists" class="form-check-input" />
                <label class="form-check-label">@Model[i].RoleName</label>
            </div>
        }
        <br />
        <button class="btn btn-primary">Rol Ata</button>
    </form>
</div>